.careerassessment .assessment {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.careerassessment .progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px 0;
}
 
  
.careerassessment button {
  background-color: #61dafb;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.careerassessment button:hover {
  background-color: #4fa3c4;
}

.careerassessment .results {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 7%;
}

.careerassessment ul {
  list-style-type: none;
  padding: 0;
}

.careerassessment li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.careerassessment .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adds spacing between the image and the text */
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  text-align: left; /* Align text to the left */
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 7%;
}

.careerassessment .intro-image {
  width: 50%; /* Adjust width */
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.careerassessment .intro-content {
  flex: 1; /* Allows the content section to take remaining space */
}

.careerassessment .intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Manrope', sans-serif;
}

.careerassessment .intro p {
  font-size: 17px;
  margin-bottom: 20px;
  font-family: 'Manrope', sans-serif;
}

.careerassessment button {
  background-color: #fd9b23b0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.careerassessment button:hover {
  background-color: #818C78;
  
}

.careerassessment .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.careerassessment .options button {
  width: 80%;
  max-width: 400px;
  padding: 15px;
  font-size: 16px;
  background-color: #fd9b23b0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.careerassessment .options button:hover {
  background-color: #5C7285;
  transform: scale(1.05);
}
