.careerassessment .assessment {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.careerassessment .progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px 0;

  
}
 
  
.careerassessment button {
  background-color: #61dafb;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.careerassessment button:hover {
  background-color: #4fa3c4;
}

.careerassessment .results {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.careerassessment ul {
  list-style-type: none;
  padding: 0;
}

.careerassessment li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.careerassessment .intro {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(25, 219, 233, 0.1);
}

.careerassessment .intro-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 120px;
}

.careerassessment .intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(86, 75, 246, 0.5);
}

.careerassessment .intro p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(85, 58, 235, 0.5);
}

.careerassessment button {
  background-color: #305cdf;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.careerassessment button:hover {
  background-color: #083c9c;
  transform: scale(1.25);
  
}

.careerassessment .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.careerassessment .options button {
  width: 80%;
  max-width: 400px;
  padding: 15px;
  font-size: 16px;
  background-color: #36b9dd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.careerassessment .options button:hover {
  background-color: #1329d1;
  transform: scale(1.05);
}
