.JobApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 2%;
}

.JobApplication-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.JobApplying-header {
    width: 50%;
    padding-right: 20px;
    font-family: 'Manrope', sans-serif;
    background-color: #cfdfe8;
    border: 2px solid black;
    padding: 50px;
    border-radius: 10px;
}

.JobApplying-header img {
    width: 40%;
    max-width: 350px;
    display: block;
    margin-bottom: 20px;
}

.CounselorJobForm {
    width: 50%;
    height: 850px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-left: 2%;
    font-family: 'Manrope', sans-serif;
    border: 8px solid #5C7285;
    background-color:#cfdfe8;
}

.input-group {
    display: flex;
    justify-content: space-between;
    font-family: 'Manrope', sans-serif;
}

.input-field1 {
    width: 48%;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
}

.input-field1 label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Manrope', sans-serif;
}

.input-field1 input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

.job-positions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.job-button {
    padding: 8px 12px;
    background-color: #fd9b23b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}

.job-button.selected {
    background-color: #818C78;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.upload-box {
    width: 95%;
    padding: 10px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    background-color: #fd9b23b0;
    width: 50%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
}

.submit-button:hover{
    background-color: #5C7285;
}

.submit-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .JobApplication-container {
        flex-direction: column;
        align-items: center;
    }

    .JobApplying-header,
    .CounselorJobForm {
        width: 100%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }
}
