.order{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Spacing between columns */
    padding: 20px;
    background-color: #ffffff;
    justify-content: center;
    align-items: start;
}

.order-legend{
    color: #4F959D;
    font-family: 'manrope';
}

fieldset{
    border: none;
    border-radius: 10px;
}

.order-container label{
    font-family: 'manrope';
    font-size: 15px;
}

.order-container input,
.order-container select {
    font-family: 'manrope';
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Adjust width to match */
    height: 40px; /* Ensure consistent height */
    border-radius: 10px;
    border: 1px solid #4F959D;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.order-container .reset{
    background-color: #fd9b23b0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'manrope';
    border: none;
    margin-right: 10px;
}

.order-container .reset:hover{
    background-color: #FF9D23;
}


.order-container .submit{
    background-color: #4F959D;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'manrope';
    border: none;
    margin-right: 10px;
}

.order-container .submit:hover{
    background-color: #4f959d81;
}

.order-item{
    font-family: 'manrope';
}

.order-item-image{
    width: 50%;
}