/* General Styles */


.setting1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 3%;
}

.settings-page {
  width: 100%;
  max-width: 1200px;
}

.header {
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 10px;
}

/* Left Column */
.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.settings-section {
  margin-bottom: 20px;
}


/* Notification Settings */
.notification-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-options label {
  font-size: 1rem;
}

.button {
  
  background-color: #fd9b23b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  width: auto;
  height: 50px;
  margin-bottom: 2%;
  margin-right: 2%;
  min-width: 150px;
  padding: 10px;
}

.button:hover {
  background-color: #818c78;
}

/* Right Column */
.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* Dropdown Styles */
.select {
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
}

/* Save Button */
.save-button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #5C7285;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.save-button:hover {
  background-color: #818c78;
}
