

.log-container {
  width: 320px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-top: 10%;
  margin-left: 40%;
  height: auto;
}

/* Buttons */
.log-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.log-buttons button {
  width: 48%;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #ddd;
  color: #333;
}

.log-buttons button:hover {
  opacity: 0.8;
}

/* Active button effect */
.log-buttons button.active-btn {
  background-color: #FF9D23; /* Active: Orange */
  color: white;
}

.log-buttons button:not(.active-btn) {
  background-color: white; /* Inactive: Teal */
  color: #FF9D23;
}

/* Forms */
.log-form-container {
  position: relative;
  height: auto;
}

.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-form h2 {
  margin-bottom: 10px;
}

.log-form input {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.log-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FF9D23;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.log-form button:hover {
  background-color: #4F959D;
}
